* { margin: 0; padding: 0; }
html, body { height: 100%; font-family: Arial, sans-serif; overflow: hidden; }
body { padding: 10px 20px; }
button { padding: 0 10px; }
input { padding: 5px 8px; }

.dev-panel { display: flex; justify-content: flex-end; height: 25px; }
.dev-panel button { margin-left: 10px; }

.home-panel {
    padding-bottom: 10px;
}
.form-row {
    display: flex; align-items: center;
    padding: 5px 0;
}
.form-row label { width: 80px; }
.form-row input { flex-grow: 1; }
.form-row button { align-self: stretch; margin-left: 10px; }

